<!DOCTYPE html>
<html lang="en" ng-app="">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
  </head>
  <style>
    input.ng-invalid {
      background-color: pink;
    }
  </style>
  <body>
    <form name="reg">
      <label for="name">Name</label>
      <input type="text" name="name" ng-model="name" required />
      <span ng-show="reg.name.$touched && reg.name.$invalid">Invalid</span>
      <br />

      <label for="email">Email</label>
      <input type="email" name="email" ng-model="email" required />
      <span ng-show="reg.email.$touched && reg.email.$invalid">Invalid</span>
      <br />

      <label for="password">Password</label>
      <input type="password" name="password" ng-model="password" required />
      <span ng-show="reg.password.$touched && reg.password.$invalid"
        >Invalid</span
      >
      <br />

      <button ng-disabled="reg.$invalid">Submit</button>
    </form>

    <!-- <script>
      angular.module("myApp", []);
    </script> -->
  </body>
</html>
